/*Some of the css here is for the profile image. Full credits to the creator, link below*/
/* http://bootsnipp.com/snippets/featured/profile-picture-with-badge */

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 40px;
}

.profile-header-img > img.img-circle {
    border: 2px solid #51D2B7;
}

.rank-label-container {
    margin-top: -15px;
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

/*All the css below this line is my own */
.panel-body {
    padding: 4px;
}

.panel, .panel-heading {
    border-radius: 0;
}

.table-container {
    padding-left: 8px;
    padding-right: 8px;
}

.btn {
    border-radius: 2px;
}

body{
    background-color: #EDECEC
}

.panel-sosa > .panel-heading {
    color: #FFFFFF;
    background-color: #c3c3c3;
    border-color: #51d2b7;
    border-bottom-width: 2px;
}

.panel-sosa {
    border-color: #e8e8e8;
}

.page-title {
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
}